body {
  background-color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  width: 300px;
  border-radius: 5px;
  margin: 100px auto;
  padding: 50px 30px;
  background-color: crimson;
  color: aliceblue;
  font-size: 32px;
}
